## Relatório de Análise III

## Imóveis Residenciais

In [3]:
import pandas as pd

In [4]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [5]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [6]:
list(dados['Bairro'].drop_duplicates())

['Copacabana',
 'Jardim Botânico',
 'Barra da Tijuca',
 'Centro',
 'Higienópolis',
 'Vista Alegre',
 'Cachambi',
 'Ramos',
 'Grajaú',
 'Lins de Vasconcelos',
 'Botafogo',
 'Taquara',
 'Freguesia (Jacarepaguá)',
 'Tijuca',
 'Olaria',
 'Leblon',
 'São Cristóvão',
 'Ipanema',
 'Campo Grande',
 'Recreio dos Bandeirantes',
 'Jardim Oceânico',
 'Humaitá',
 'Península',
 'Méier',
 'Vargem Pequena',
 'Maracanã',
 'Jacarepaguá',
 'Vargem Grande',
 'São Conrado',
 'Maria da Graça',
 'Vila Valqueire',
 'Gávea',
 'Cosme Velho',
 'Bonsucesso',
 'Todos os Santos',
 'Laranjeiras',
 'Itanhangá',
 'Flamengo',
 'Praça Seca',
 'Piedade',
 'Lagoa',
 'Santo Cristo',
 'Largo do Machado',
 'Catete',
 'Jardim Carioca',
 'Benfica',
 'Glória',
 'Vila Isabel',
 'Quintino Bocaiúva',
 'São Francisco Xavier',
 'Rocha Miranda',
 'Engenho Novo',
 'Engenho de Dentro',
 'Cidade Nova',
 'Pilares',
 'Arpoador',
 'Tomás Coelho',
 'Água Santa',
 'Ilha do Governador',
 'Jardim Sulacap',
 'Del Castilho',
 'Oswaldo Cruz',
 'Vila da Penha',
 'Anil',
 'Tanque',
 'Vaz Lobo',
 'Madureira',
 'Pechincha',
 'Leme',
 'Irajá',
 'Andaraí',
 'Cordovil',
 'Urca',
 'Penha',
 'Vigário Geral',
 'Gardênia Azul',
 'Santa Cruz',
 'Rio Comprido',
 'Santa Teresa',
 'Inhaúma',
 'Marechal Hermes',
 'Pavuna',
 'Curicica',
 'Santíssimo',
 'Moneró',
 'Jardim Guanabara',
 'Vila Militar',
 'Camorim',
 'Cascadura',
 'Manguinhos',
 'Praia da Bandeira',
 'Saúde',
 'Joá',
 'Gamboa',
 'Bangu',
 'Colégio',
 'Guadalupe',
 'Realengo',
 'Fátima',
 'Inhoaíba',
 'Rocha',
 'Jabour',
 'Parada de Lucas',
 'Braz de Pina',
 'Vila Kosmos',
 'Vicente de Carvalho',
 'Praça da Bandeira',
 'Encantado',
 'Campinho',
 'Penha Circular',
 'Ricardo de Albuquerque',
 'Guaratiba',
 'Lapa',
 'Riachuelo',
 'Portuguesa',
 'Catumbi',
 'Castelo',
 'Parque Anchieta',
 'Abolição',
 'Caju',
 'Alto da Boa Vista',
 'Bento Ribeiro',
 'Estácio',
 'Jardim América',
 'Paciência',
 'Pedra de Guaratiba',
 'Padre Miguel',
 'Zumbi',
 'Sampaio',
 'Anchieta',
 'Tauá',
 'Icaraí',
 'Cinelândia',
 'Senador Vasconcelos',
 'Barra de Guaratiba',
 'Paquetá',
 'Senador Camará',
 'Turiaçu',
 'Freguesia (Ilha do Governador)',
 'Honório Gurgel',
 'Cosmos',
 'Pitangueiras',
 'Vidigal',
 'Usina',
 'Cacuia',
 'Ribeira',
 'Jacaré',
 'Cocotá',
 'Engenho da Rainha',
 'Cachamorra',
 'Itaguaí',
 'Cavalcanti',
 'Cidade de Deus',
 'Magalhães Bastos',
 'Coelho Neto',
 'Vasco da Gama',
 'Bancários',
 'Rio da Prata',
 'Cidade Jardim',
 'Parque Colúmbia',
 'Grumari',
 'Sepetiba']

In [7]:
residencial = ['Quitinete',
'Casa',
'Apartamento',
'Casa de Condomínio',
'Casa de Vila',]

In [8]:
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [9]:
dados['Tipo'].isin(residencial).head(10)

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7     True
8     True
9    False
Name: Tipo, dtype: bool

In [10]:
selecao = dados['Tipo'].isin(residencial)

In [11]:
selecao

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [12]:
dados_residencial = dados[selecao]

In [13]:
list(dados_residencial['Tipo'].drop_duplicates())

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [14]:
dados_residencial.shape[0]

22580

In [15]:
dados_residencial.index = range(dados_residencial.shape[0])

## Exportando a Base de Dados

In [16]:
dados_residencial.to_csv('dados/aluguel_residencial.csv', sep = ';')

In [17]:
dados_residencial_2 = pd.read_csv('dados/aluguel_residencial.csv', sep =';')

In [18]:
dados_residencial_2

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
22575,22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [19]:
dados_residencial.to_csv('dados/aluguel_residencial.csv', sep=';', index = False)

In [20]:
dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [21]:
dados_residencial_2 = pd.read_csv('dados/aluguel_residencial.csv', sep =';')
dados_residencial_2

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN